

.footer {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 5;
    background-color: #512888;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
  }